*{
    margin: 0;
    padding: 0;
}

#lista-filmes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
}

.cardd{
    width: 15rem;
    height: 30rem;
    margin: 1rem;
}

.cardd img{
    height: 20rem;
    width: 100%;
}

.cardd-title{
    text-align: center;
    font-size: 15px;
}

.p-ano-producao{
    text-align: center;
}

.cardd-body{
    font-size: 1rem;
    display: grid;
}

#mostrar-filmes{
    margin-top: 16vh;
    border: 2px solid #000;
}

#btn-salvar{
    border: none;
    background-color: #fff;
}