*{
    margin: 0;
    padding: 0;
}

#lista-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
}

.card{
    width: 15rem;
    height: 28rem;
    margin: 1rem;
}

.card img{
    height: 20rem;
}

.card-body{
    font-size: 1rem;
}
