*{
    margin: 0;
    padding: 0;
}

#lista-filmes{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2em;
    gap: 1.2rem;
    width: 90rem;
    text-align: center;
}

.card{
    width: 22vw;
}

.card img{
    height: 30vw;
}

